@charset "UTF-8";


/* ****************** */
/* Navigation Bar     */
/* ****************** */

.dashboard-header {
	min-width: 100%;
	display: flex;
	align-items: center;
	background-color: var(--color-secondary);
	color: white;
}

.dashboard-header h2 a {
	font-family: var(--ff-headings);
	font-weight: var(--fw-xtrabold);
	font-size: 1.25rem;
	padding-inline: 1rem;
	text-decoration: none;
	color: white;
}

.dashboard-header nav {
	display: flex;
	margin-left: auto;
}

.nav-btn {
	text-decoration: none;
	display: block;
	font-weight: var(--fw-semibold);
	padding: 1rem;
	color: white;
}

.nav-btn:hover {
	transition: ease 0.3s;
	background-color: #3589C1;
}

/* ****************** */
/* Main Section       */
/* ****************** */

main {
	padding: 2rem;
}

.main-header {
	display: flex;
	gap: 1rem;
}

.container {
	background-color: white;
	border-radius: 2rem;
	box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
	padding: 2rem;
	margin-bottom: 5px;
}

.container header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
}

.section-title {
	font-family: var(--ff-headings);
	font-weight: var(--fw-bold);
	font-size: 1.25rem;
}

/* ****************** */
/* Card Section       */
/* ****************** */

.card-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(16rem, 20rem));
	gap: 1rem;
}

.card {
	box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
	padding: 1rem;
	border-radius: .5rem;
	background-color: white;
}

.card-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
}

.card-title {
	font-family: var(--ff-headings);
	font-weight: var(--fw-bold);
}

.card-details {
	color: darkgray;
	font-size: 0.85rem;
	text-align: center;
	margin-block: 0.5rem
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

/* ****************** */
/* Form Section       */
/* ****************** */

.form-group {
	display: flex;
	justify-content: space-evenly;
}

.form-label {
	font-style: italic;
	display: block;
}

fieldset {
	border: none;
}

.form-multiple-select {
	display: block;
	width: 100%;
}

.form-single-select {
	display: inline-block;
	padding: 0.25rem 1rem;
	border-width: 2px solid;
}

.form-input {
	border: 2px solid #ddd;
	padding: 0.25rem 1rem;
	border-radius: 0.25rem;
	margin-left: 1rem;
}

.form-btn {
	display: block;
	padding: 0.5rem 2rem;
	background-color: var(--color-success);
	font-weight: var(--fw-semibold);
	border-radius: .25rem;
	cursor: pointer;
}

.form-btn:hover {
	transition: ease .35s background-color;
	background-color: #3FBE49;
}

.form-btn:focus-visible {
	outline: 2px solid black;
}

/* **************** */
/* Media Queries    */
/* **************** */

