@charset "UTF-8";

:root {
	--ff-primary: "PT Sans", sans-serif;
	--ff-headings: "Merriweather", sans-serif;

	--fw-regular: 400;
	--fw-semibold: 600;
	--fw-bold: 700;
	--fw-xtrabold: 900;

	--fs-paragraph: 1rem;

	--bg-offwhite: #E9E9E9;
	--bg-gradient: linear-gradient(#EED991 0%, #CCF7F4 100%);

	--color-primary: #282828;
	--color-secondary: #3c96d1;
	--color-success: #5AD564;
	--color-error: #FF5733;

}

/* **************** */
/* CSS Reset */
/* **************** */

/* Box Sizing */
*,
*::before,
*::after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* Remove Margins */
* {
	margin: 0;
	padding: 0;
	font: inherit;
}

/* Make height full monitor height */
html,
body {
	min-height: 100dvh;
}

/* Default line height & font smoothing */
body {
	line-height: 1.5;
}

/* Remove list bullets */
ul,
ol {
	list-style: none;
}

/* Make scrolling smooth when clicking an anchor */
html:focus-within {
	scroll-behavior: smooth;
}

/* Match image width */
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
	/* height: auto; */
}

/* Remove bult-in form typography */
input,
button,
textarea,
select {
	font: inherit;
	border: none;
	outline-color: transparent;
}

/* Maintain style even if the text is too long */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

a:not([class]) {
	text-decoration-skip-ink: auto;
}

.sr-only:not(:focus):not(:active) {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

/* **************** */
/* End of CSS Reset */
/* **************** */

body {
	display: flex;
	flex-direction: column;
	font-family: var(--ff-primary);
	font-weight: var(--fw-regular);
	font-size: var(--fs-regular);
	color: var(--color-primary);
}

.background {
	background: var(--bg-gradient);
}

.message_error {
	color: var(--color-error);
	font-weight: var(--fw-semibold);
}

.message_success {
	color: var(--color-success);
	font-weight: var(--fw-semibold);
}

/* **************** */
/* Utility Classes  */
/* **************** */

h1 {
	font-family: var(--ff-headings);
	font-size: 3rem;
	font-weight: var(--fw-bold);
}

.subtitle {
	font-size: 2rem;
	font-weight: var(--fw-bold);
	font-family: var(--ff-headings);
}

.mt-2 {
	margin-top: 1rem;
}

.mt-8 {
	margin-top: 4rem;
}

.my-2 {
	margin-block: 1rem;
}

.my-auto {
	margin-block: auto;
}

.mx-auto {
	margin-inline: auto;
}

.ml-auto {
	margin-left: auto;
}

.ml-2 {
	margin-left: 1rem;
}

.mr-2 {
	margin-right: 1rem;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.items-center {
	align-items: center;
}

.btn {
	display: inline-block;
	padding: 0.5rem 2rem;
	border-radius: .25rem;
	background-color: var(--color-secondary);
	box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
	text-decoration: none;
	color: white;
	font-weight: var(--fw-semibold);
	cursor: pointer;
}

.btn:hover {
	transition: ease 0.3s;
	background-color: #3589C1;
}

.border-1 {
	border: 1px solid #ddd;
}

.border-2 {
	border: 2px solid #ddd;
}

.rounded {
	border-radius: 0.25rem;
}

.w-72 {
	max-width: 72rem;
}

.w-full {
	width: 100%;
}

.space-evenly {
	justify-content: space-evenly;
}

.gap-8 {
	gap: 8rem;
}

.flex {
	display: flex;
}

.flex-1 {
	flex: 1;
}

.flex-2 {
	flex: 2;
}

.success {
	background-color: var(--color-success);
}